@font-face {
    font-family: 'LIBRARY_3';
    src: url("/fonts/12186.otf");
}

.box{
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    height: 100%;
    color: white;
    background-color: #007bff;
}
.box__item{
    padding: 5px 10px;
    width:85%;
}
.box__item::-webkit-scrollbar {
  display: none;
}

.box__item__footer{
    grid-column: 1/3;
}
h1 {
    font-size: 60px;
}

.img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    position: absolute;
    width: 50%;
    height: 100%;
    z-index: 1;
    transition: transform 0.3s ease-in;
    color: white;
    overflow: scroll;
}
.img-container::-webkit-scrollbar {
    display: none;
}

.img-container--left {
    filter: blur(5px);
    transform: translateX(-50%);
}

.img-container--right {
    filter: blur(5px);
    transform: translateX(50%);
}

.img-one {
    z-index: 2;
    left: 0;
    background-color: #ff0266;
}

.img-two {
    z-index: 2;
    right: 0;
    background-color: #ffde03;
}
#findedDroneForm, #lostedDroneForm{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-end: 2;
}
#findedDronePhoneForm {
    width: 100%;
}
@media (min-width: 1600px) {
    #find{
        padding-left: 70px;
    }
    #lost{
        padding-right: 70px;
    }
}
.img-container__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    margin: 35px;
    border-radius: 8px;
    height: 75%;
    font-family: LIBRARY_3, sans-serif;
}
.img-container__item p{
    width: 80%;
    font-size: 1em;
    text-align: center;
}
.img-container__item h2{
    margin-top: 38px;
    margin-bottom: 20px;
    font-size: 3rem;
    text-align: center;
}
.red{
    color: #ff0266;
}
.red__bg{
    color: white;
    background-color: #ff0266;
}
.yellow{
    color: #ffde03;
}
.yellow__bg{
    color: white;
    background-color: #ffde03;
}
.blue{
    color: #0336ff;
}
.dark-blue{
    background-color: #0336ff;
}
.img-container__item--image{
    height: auto;
    flex-grow: 1;
    width: 80%;

}
.img-container__item--image.find{
    background: url('/images/finded_dron.png') no-repeat 50% 50%;
    background-size: contain;
}
.img-container__item--image.lost{
    background: url('/images/losted_dron.png') no-repeat 50% 50%;
    background-size: contain;
}
.form__field{
    padding: 5px;
}
img {
    display: block;
    width: 100%;
}
#mapLost, #mapFind{
    width: 100%;
    height: 200px;
    z-index: 2;
    margin-bottom: 1rem;
}
#output{
    margin: 0;
}
.box__button {
    width: 100%;
}
.hidden{
    display: none;
}
.form{
    color:white;
    font-size: 16px;
}
.nav-bar{
    z-index: 4;
}
.message{
    color: white;
}
.navbar-brand {
    display: flex;
    align-items: center;
    white-space: initial;
}
.navbar-brand img {
    height: 50px;
    width: 67.5px;
}
.navbar-brand span {
    padding-left: 10px;
    font-size: 10px;
    line-height: 18px;
    margin: 0 0 2px 0;
    width: 390px;
    word-wrap: break-word;
}
.small-text-header{
    /*font-size: 5px;*/
}
.text-header{
    /*font-size: 8px;*/
}

@media (max-width: 750px) {
    .box{
        flex-direction: column;
        height: initial;
        overflow: hidden;
    }
    .box__item{
        padding: initial;
    }
    .img-container{
        position: initial;
        width: 100%;
    }
    .img-container--left{
        position: absolute;
        top: 0;
        height: 50%;
        transform: translateY(-70%);
    }
    .img-container--right{
        position: absolute;
        bottom: 0;
        height: 50%;
        transform: translateY(70%);
    }

    .img-container__item{
        font-size: 16px;
        height: 480px;
    }
    #findedDroneForm, #lostedDroneForm{
        display: initial;
    }
    .padding-area{
        padding: 255px 0;
    }
}
.navbar-toggler{
    display: none;
}